# <h1 style="color:#2E86C1; text-align:center;"> Load & Explore a CSV File (Iris Dataset)</h1>

---

### <h2 style="color:#117A65;">üîπ Step 1: Import Libraries</h2>

In [7]:
import pandas as pd
import numpy as np

### <h2 style="color:#117A65;">üîπ Step 2: Load Dataset from Google Drive</h2>
File ID: `1x9fdyHJ5ZnLF_pxv1UStEcW9BvnckuNO`

In [8]:
file_id = "1x9fdyHJ5ZnLF_pxv1UStEcW9BvnckuNO"
url = f"https://drive.google.com/uc?id={file_id}"
df = pd.read_csv(url)
print(" Dataset Loaded Successfully!")

 Dataset Loaded Successfully!

### <h2 style="color:#117A65;">üîπ Step 3: First Look at Dataset</h2>

In [22]:
display(HTML("<h3 style='color:#1F618D;'> First 5 Rows of Dataset</h3>"))

display(df.head().style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#20B2AA"), ("color", "black"), ("font-weight", "bold")]},
    {"selector": "td", "props": [("border", "1px solid #34495E"), ("padding", "6px")]}
]).set_properties(**{'text-align': 'center'}))

### <h2 style="color:#117A65;">üîπ Step 4: Dataset Info (Polished)</h2>
We will explore:
- üìë **Column Names**
- üìê **Shape (Rows, Columns)**
- üßæ **Data Types**

In [32]:
from IPython.display import display, HTML

#  Column Names
display(HTML(f"""
<h3 style="color:#1F618D;"> Column Names</h3>
<p style="font-size:14px; color:#2C3E50;"><b>{df.columns.tolist()}</b></p>
<hr>
"""))

#  Shape
display(HTML(f"""
<h3 style="color:#1F618D;"> Shape</h3>
<p style="font-size:14px; color:#2C3E50;">
<b>Rows:</b> {df.shape[0]} | <b>Columns:</b> {df.shape[1]}
</p>
<hr>
"""))

#  Data Types
styled_dtypes = pd.DataFrame(df.dtypes, columns=["Data Type"])
display(HTML("<h3 style='color:#1F618D;'> Data Types</h3>"))
display(styled_dtypes.style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#20B2AA"), ("color", "black"), ("font-weight", "bold")]},
    {"selector": "td", "props": [("border", "1px solid #34495E"), ("padding", "8px")]}
]).set_properties(**{'text-align': 'center'}))

### <h2 style="color:#117A65;">üîπ Step 5: Summary Statistics</h2>

In [33]:
display(HTML("<h3 style='color:#1F618D;'> Summary Statistics</h3>"))
display(df.describe(include="all").style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#20B2AA"), ("color", "black"), ("font-weight", "bold")]},
    {"selector": "td", "props": [("border", "1px solid #34495E"), ("padding", "6px")]}
]).set_properties(**{'text-align': 'center'}))

### <h2 style="color:#117A65;">üîπ Step 6: Missing Values</h2>

In [15]:
missing = df.isnull().sum().reset_index()
missing.columns = ["Column", "Missing Values"]

display(HTML("<h3 style='color:#1F618D;'> Missing Values</h3>"))
display(missing.style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#F5B7B1"), ("color", "black"), ("font-weight", "bold")]},
    {"selector": "td", "props": [("border", "1px solid #34495E"), ("padding", "6px")]}
]).set_properties(**{'text-align': 'center'}))